In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./2023_spotify_songs.csv')
df

            artist_name                                    track_name
0              Sam Hunt               Bottle It Up - Acoustic Mixtape
1          Ryan Gosling  City Of Stars - From "La La Land" Soundtrack
2           Knife Party                                       Bonfire
3     Avenged Sevenfold                         Welcome to the Family
4           Cheat Codes                                    Follow You
...                 ...                                           ...
6969         Pink Floyd                                       Hey You
6970          Lifehouse                                  Halfway Gone
6971             Eminem                               Won't Back Down
6972        Miley Cyrus                                           4x4
6973           San Holo                                       We Rise

[6974 rows x 2 columns]

In [13]:
track_counts = df.groupby('track_name').size()
tracks_more_than_one = track_counts[track_counts > 1]
tracks_more_than_one

track_name
90210              2
99 Red Balloons    2
About A Girl       2
Addicted           3
Afterlife          2
                  ..
Young              2
Your Body          2
Your Song          2
Youth              2
Zero               2
Length: 276, dtype: int64